@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  margin:0px;
  font-family: 'Roboto', sans-serif;
  background-color: #FAF8F6;
}

.header {
  overflow: hidden;
  background-color: #6891C3;
  padding: 5px;
  vertical-align: top;
}
input[type=text] {
  width: 100%;
  color: #6891C3;
  border:none;
  display: block;
  box-sizing: border-box;
  border: 3px solid #6891C3;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #FAF8F6;
  padding: 5px 5px 5px 5px;
}

input[type=submit]{
  position: absolute;
  top: 0px;
  right: -55px;
  height:35.5px;
  border: none;
  width: 58px;
  background-color: #6891C3;
  font-family: 'Roboto', sans-serif;
  color: #FAF8F6;
 -webkit-text-fill-color: #FAF8F6;
}

.switch-button{
  position: relative;
  display: block;
  margin: auto;
}

input[type=submit]:active{
  background-color: #9cb9de;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #FAF8F6 inset !important;
}
input {
 color: #6891C3;
 -webkit-text-fill-color: #6891C3;
}
input[type=text]:focus{
  background-color: #FAF8F6;
  border-color: #6891C3;
  color: #6891C3;
  outline: none;
}

::placeholder{
  color: #6891C3;
}
.header a {
  float: left;
  color: #FAF8F6;
  text-align: center;
  padding-left: 0px;
  padding-right: 60px;
  text-decoration: none;
  font-size: 15px;
  line-height: 43px;
  font-weight: 400;
}
.logo{
  width: 45px;
  height: auto;
  padding-left: 15px;
  vertical-align: top;
}

.header-right {
  float: right;
}
.header a.active {
  color: #85b0ff;
}
.btn{
  visibility : hidden;
  border: none;
  background-color: #FAF8F6;
}
.copyicon:active{
  color: #c4c2bf;
}
.text {
  padding-left: 20px;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
    text-allign: left;
  }

  .header-logo {
  padding-right: 200px;
  padding-bottom: 20px;
  }
}