<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'index' %}">Main</a>
<a href="{% url 'about' %}">About</a>
<a href="{% url 'share' %}">Share</a>
<p> Ethereum Mnemonic Generator</p>
<form id="EthIn" method="POST">
        <label for="ethAddress">Ethereum Address:</label>
        <input id="ethAddress" type="text" oninput="myFunction()" name="ethAddress" required>
        <a id = "isValid"></a>
    <br>
    <br>
         <input  type="submit" name="submit" value="submit">
    </form>
<a>Ethereum Address:  </a>
    <a id="MnemonicOutput" >
    </a>
<button id = "copyAddressButton" onclick="copyAddress()">Copy</button>
{% load static %}
<script src="{% static 'bundle.js' %}"></script>
<script src="{% static 'isValidEthAddress.js' %}"></script>
<script>
    var post_link_1 = "{% url 'Eth_to_Mnem' %}";
    var csrf_token_1 = '{{ csrf_token }}';
function copyAddress(){
    let text = document.getElementById('MnemonicOutput').textContent;
    navigator.clipboard.writeText(text);
}
</script>
<script src="{% static 'EthAddressToMnemonic.js' %}"></script>

<form id="EthOut" method="POST">
        <label for="mnemonic">Ethereum Mnemonic:</label>
        <input id="mnemonic" type="text" name="mnemonic" required>
    <br>
    <br>
         <input  type="submit" name="submit" value="submit">
    </form>
<a>Mnemonic:  </a>
    <a id="AddressOutput">
    </a>
<button onclick="copyMnemonic()">Copy</button>
<script>
    var post_link_2 = "{% url 'Mnem_to_Eth' %}";
    var csrf_token_2 = '{{ csrf_token }}';
    function copyMnemonic(){
        let text = document.getElementById('AddressOutput').textContent;
        navigator.clipboard.writeText(text);
    }
</script>
<script src="{% static 'MnemonicToEthAddress.js' %}"></script>
</body>
</html>
