<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'fixedlogoSmall.jpg' %}"/>
</head>
<body>
<div class="header">
  <img class = "logo" src="{% static 'fixedlogoSmall.jpg' %}" alt="My image">
  <div class="header-right">
    <a class = "active" href="{% url 'index' %}">Main</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'share' %}">Share</a>
  </div>
</div>
<div class="text">
<p> Ethereum Mnemonic Generator</p>
<form id="EthIn" method="POST">
        <label for="ethAddress">Ethereum Address:</label>
        <input id="ethAddress" type="text" oninput="myFunction()" name="ethAddress" required>
        <a id = "isValid"></a>
    <br>
    <br>
         <input  type="submit" name="submit" value="submit">
    </form>
<a>Ethereum Address:  </a>
    <a class = "active" id="MnemonicOutput" >
    </a>
<button id = "copyAddressButton" onclick="copyAddress()" style="visibility : hidden;">Copy</button>
    <form id="EthOut" method="POST">
        <label for="mnemonic">Ethereum Mnemonic:</label>
        <input id="mnemonic" type="text" name="mnemonic" required>
    <br>
    <br>
         <input  type="submit" name="submit" value="submit">
    </form>
<a>Mnemonic:  </a>
    <a class = "active" id="AddressOutput">
    </a>
<button id = "copyMnemButton" onclick="copyMnemonic()" style="visibility : hidden;">Copy</button>
<script>
    var post_link_1 = "{% url 'Eth_to_Mnem' %}";
    var csrf_token_1 = '{{ csrf_token }}';
function copyAddress(){
    let text = document.getElementById('MnemonicOutput').textContent;
    navigator.clipboard.writeText(text);
}
    var post_link_2 = "{% url 'Mnem_to_Eth' %}";
    var csrf_token_2 = '{{ csrf_token }}';
    function copyMnemonic(){
        let text = document.getElementById('AddressOutput').textContent;
        navigator.clipboard.writeText(text);
    }
</script>
</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'bundle.js' %}"></script>
<script src="{% static 'isValidEthAddress.js' %}"></script>
<script src="{% static 'MnemonicToEthAddress.js' %}"></script>
<script src="{% static 'EthAddressToMnemonic.js' %}"></script>
