<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'fixedlogoSmall.jpg' %}"/>
</head>
<body>
<div class="header">
  <img class = "logo" src="{% static 'fixedlogoSmall.jpg' %}" alt="My image">
  <div class="header-right">
    <a href="{% url 'index' %}">Main</a>
    <a href="{% url 'about' %}">About</a>
    <a class = "active" href="{% url 'share' %}">Share</a>
  </div>
</div>
<h1 class="text">Share</h1>
<p class="text">If you like what you see please consider sharing this website with your friends and family so more people know
about this project!</p>
<div class="text">
{% load social_share %}
{% post_to_facebook object_or_url "Post to Facebook!" %}
{% post_to_whatsapp object_or_url "Share via WhatsApp" %}
{% post_to_twitter object_or_url "Post to Twitter!"%}
</div>
</body>
</html>