<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'index' %}">Main</a>
<a href="{% url 'about' %}">About</a>
<a href="{% url 'share' %}">Share</a>
<h1>Share</h1>
<p>If you like what you see please consider sharing this website with your friends and family so more people know
about this project!</p>
{% load social_share %}
{% post_to_facebook object_or_url "Post to Facebook!" %}
{% post_to_whatsapp object_or_url "Share via WhatsApp" %}
{% post_to_twitter object_or_url "Post to Twitter!"%}

</body>
</html>